<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="form2.Properties.Settings.AdventureWorksConnectionString"
            connectionString="Data Source=DESKTOP-E0JBM6N\EGY;Initial Catalog=AdventureWorks;User ID=sa;Password=egyputradbncr78"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>